.top-nav{
	background-color:#33D133;
	display: flex;
	justify-content:space-between;
	padding:0.5%;
	border-bottom:2px solid black;
}
.side-menu-direct{
	color:white;
	padding:0.5%;
	margin:0.5%;
}
.feed-wrapper{
	display:flex;
	flex-wrap:wrap;
}
.entry-direct{
	border-radius:7px;
	background-color:white;
	color:#33D133;
	padding:0.5%;
	margin:0.5%;
	padding-left:2%;
	padding-right:2%;
}
.entry-direct a{
	text-decoration:none;
	color:#33D133;
}
.feed-wrapper{
	
}
.feed-items{
	width:46%;
	margin:2%;
}
.entry{
	background-color:white;
	border-radius:10px;
	border:0.5px solid #ececec;
	box-shadow:4px 2px 4px  #c5c3c3;
	display:flex;
	align-items:center;
	justify-content: center;
	padding:5%;
	padding-top:20%;
	padding-bottom:20%;
	margin:2%;
	white-space:nowrap;
	overflow:hidden;
	position:relative;
}
.username{
	padding:0.5%;
	text-align:center;
	color:grey;
}
.side-bar{
	min-height:100vh;
	width:15%;
	background-color:#33D133;
	display:none;
}
.wrapper{
	width:100%;
	display:flex;
	flex-wrap:wrap;
}
.menu-items{
	color:white;
	padding:2%;
	margin:2%;
	text-align:center;
}
.back{
	border-bottom:1px solid white;
	color:white;
	padding:5%;
	margin:7%;
	margin-bottom:8%;
	text-align:center;
}
#on-off{
	display:none;
}
#on-off:checked  ~ .side-bar{
	display:block; !important
}
#on-off:checked  ~ .wrapper{
	width:85%; !important
}
.menu-items a{
	color:white;
	text-decoration:none;
}
.box{
	height:3vw;
	width:3vw;
	color:white;
	background-color: #33D133;
	border-radius:10000000px;
	position:absolute;
	bottom:1%;
	right:1%;
	display: flex;
	justify-content: center;
	align-items: center;
}